<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Business Bag</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if request.path_info == users_path %>
        <li class='nav-item'><%= link_to 'signup', new_user_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to 'login', login_path, class:'nav-link' %></li>
        <li class='nav-item'><%= link_to 'logout', logout_path, method: :delete, class: 'nav-link'%></li>
        <li class='nav-item'><%= link_to 'home', root_path, class: 'nav-link' %></li> 
        <% else %>
        <li class="nav-item"><a href="#" class="nav-link">Bags</a></li>
        <li class="nav-item"><%= link_to 'User', users_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to 'Contact', new_contact_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to 'Product', new_contact_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>